*
!README.md
!.zshenv
!.vimrc
!.zshrc
!.zsh_plugins.txt
!.ghci
!.bashrc
!.profile
!.gitignore
!.gitmodules
!.stow-local-ignore
!.tmux.conf
!.installed
!.scripts/
!.scripts/*
.scripts/vnc-home
.scripts/tellData
.scripts/stats.log

!.config/
.config/*
!.config/redshift.conf
!.config/nvim
